/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * filmotype-yale:
 *   - http://typekit.com/eulas/00000000000000007735fedb
 * freight-big-pro:
 *   - http://typekit.com/eulas/000000000000000077359f96
 *   - http://typekit.com/eulas/000000000000000077359f99
 *   - http://typekit.com/eulas/000000000000000077359f9d
 *   - http://typekit.com/eulas/000000000000000077359fa0
 *   - http://typekit.com/eulas/000000000000000077359fa3
 *   - http://typekit.com/eulas/000000000000000077359fa6
 *   - http://typekit.com/eulas/000000000000000077359fa8
 *   - http://typekit.com/eulas/000000000000000077359faa
 * freight-display-pro:
 *   - http://typekit.com/eulas/000000000000000077359f97
 *   - http://typekit.com/eulas/000000000000000077359f9a
 *   - http://typekit.com/eulas/000000000000000077359f9c
 *   - http://typekit.com/eulas/000000000000000077359f9f
 * freight-macro-pro:
 *   - http://typekit.com/eulas/000000000000000000017774
 *   - http://typekit.com/eulas/000000000000000000017775
 *   - http://typekit.com/eulas/000000000000000000017776
 *   - http://typekit.com/eulas/000000000000000000017777
 * freight-micro-pro:
 *   - http://typekit.com/eulas/00000000000000000001322a
 *   - http://typekit.com/eulas/00000000000000000001322b
 *   - http://typekit.com/eulas/000000000000000000013230
 *   - http://typekit.com/eulas/000000000000000000013231
 * freightbigcmp-pro:
 *   - http://typekit.com/eulas/000000000000000077359fb3
 *   - http://typekit.com/eulas/000000000000000077359fb5
 *   - http://typekit.com/eulas/000000000000000077359fc3
 *   - http://typekit.com/eulas/000000000000000077359fc5
 * freightdispcmp-pro:
 *   - http://typekit.com/eulas/000000000000000077359fb4
 *   - http://typekit.com/eulas/000000000000000077359fb6
 *   - http://typekit.com/eulas/000000000000000077359fc4
 *   - http://typekit.com/eulas/000000000000000077359fc6
 * rizado-script:
 *   - http://typekit.com/eulas/00000000000000007735b6dd
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2024-01-28 15:48:27 UTC"}*/

@import url("p.css");

@font-face {
font-family:"freight-micro-pro";
src:url("af/6f88f7/00000000000000000001322a/27/l") format("woff2"),url("af/6f88f7/00000000000000000001322a/27/d") format("woff"),url("af/6f88f7/00000000000000000001322a/27/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freight-micro-pro";
src:url("af/f0834a/00000000000000000001322b/27/l") format("woff2"),url("af/f0834a/00000000000000000001322b/27/d") format("woff"),url("af/f0834a/00000000000000000001322b/27/a") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freight-micro-pro";
src:url("af/51014d/000000000000000000013230/27/l") format("woff2"),url("af/51014d/000000000000000000013230/27/d") format("woff"),url("af/51014d/000000000000000000013230/27/a") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"freight-micro-pro";
src:url("af/262f01/000000000000000000013231/27/l") format("woff2"),url("af/262f01/000000000000000000013231/27/d") format("woff"),url("af/262f01/000000000000000000013231/27/a") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"freight-big-pro";
src:url("af/650441/000000000000000077359f96/30/l") format("woff2"),url("af/650441/000000000000000077359f96/30/d") format("woff"),url("af/650441/000000000000000077359f96/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"freight-big-pro";
src:url("af/e5e434/000000000000000077359f99/30/l") format("woff2"),url("af/e5e434/000000000000000077359f99/30/d") format("woff"),url("af/e5e434/000000000000000077359f99/30/a") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"freight-big-pro";
src:url("af/a91824/000000000000000077359f9d/30/l") format("woff2"),url("af/a91824/000000000000000077359f9d/30/d") format("woff"),url("af/a91824/000000000000000077359f9d/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freight-big-pro";
src:url("af/5d264d/000000000000000077359fa0/30/l") format("woff2"),url("af/5d264d/000000000000000077359fa0/30/d") format("woff"),url("af/5d264d/000000000000000077359fa0/30/a") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freight-big-pro";
src:url("af/3021a6/000000000000000077359fa3/30/l") format("woff2"),url("af/3021a6/000000000000000077359fa3/30/d") format("woff"),url("af/3021a6/000000000000000077359fa3/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"freight-big-pro";
src:url("af/7e2d6c/000000000000000077359fa6/30/l") format("woff2"),url("af/7e2d6c/000000000000000077359fa6/30/d") format("woff"),url("af/7e2d6c/000000000000000077359fa6/30/a") format("opentype");
font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"freight-big-pro";
src:url("af/b1b6ad/000000000000000077359fa8/30/l") format("woff2"),url("af/b1b6ad/000000000000000077359fa8/30/d") format("woff"),url("af/b1b6ad/000000000000000077359fa8/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"freight-big-pro";
src:url("af/8c8500/000000000000000077359faa/30/l") format("woff2"),url("af/8c8500/000000000000000077359faa/30/d") format("woff"),url("af/8c8500/000000000000000077359faa/30/a") format("opentype");
font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"freight-display-pro";
src:url("af/c9d9e8/000000000000000077359f97/30/l") format("woff2"),url("af/c9d9e8/000000000000000077359f97/30/d") format("woff"),url("af/c9d9e8/000000000000000077359f97/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"freight-display-pro";
src:url("af/6bdb21/000000000000000077359f9a/30/l") format("woff2"),url("af/6bdb21/000000000000000077359f9a/30/d") format("woff"),url("af/6bdb21/000000000000000077359f9a/30/a") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"freight-display-pro";
src:url("af/b5dc69/000000000000000077359f9c/30/l") format("woff2"),url("af/b5dc69/000000000000000077359f9c/30/d") format("woff"),url("af/b5dc69/000000000000000077359f9c/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freight-display-pro";
src:url("af/19483f/000000000000000077359f9f/30/l") format("woff2"),url("af/19483f/000000000000000077359f9f/30/d") format("woff"),url("af/19483f/000000000000000077359f9f/30/a") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freight-macro-pro";
src:url("af/c1b4f7/000000000000000000017774/27/l") format("woff2"),url("af/c1b4f7/000000000000000000017774/27/d") format("woff"),url("af/c1b4f7/000000000000000000017774/27/a") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"freight-macro-pro";
src:url("af/f96583/000000000000000000017775/27/l") format("woff2"),url("af/f96583/000000000000000000017775/27/d") format("woff"),url("af/f96583/000000000000000000017775/27/a") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"freight-macro-pro";
src:url("af/e67d8d/000000000000000000017776/27/l") format("woff2"),url("af/e67d8d/000000000000000000017776/27/d") format("woff"),url("af/e67d8d/000000000000000000017776/27/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freight-macro-pro";
src:url("af/32d1b5/000000000000000000017777/27/l") format("woff2"),url("af/32d1b5/000000000000000000017777/27/d") format("woff"),url("af/32d1b5/000000000000000000017777/27/a") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"rizado-script";
src:url("af/99715b/00000000000000007735b6dd/30/l") format("woff2"),url("af/99715b/00000000000000007735b6dd/30/d") format("woff"),url("af/99715b/00000000000000007735b6dd/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freightbigcmp-pro";
src:url("af/e7eaa8/000000000000000077359fb3/30/l") format("woff2"),url("af/e7eaa8/000000000000000077359fb3/30/d") format("woff"),url("af/e7eaa8/000000000000000077359fb3/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freightbigcmp-pro";
src:url("af/1d6640/000000000000000077359fb5/30/l") format("woff2"),url("af/1d6640/000000000000000077359fb5/30/d") format("woff"),url("af/1d6640/000000000000000077359fb5/30/a") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freightbigcmp-pro";
src:url("af/d4693a/000000000000000077359fc3/30/l") format("woff2"),url("af/d4693a/000000000000000077359fc3/30/d") format("woff"),url("af/d4693a/000000000000000077359fc3/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"freightbigcmp-pro";
src:url("af/0a31c2/000000000000000077359fc5/30/l") format("woff2"),url("af/0a31c2/000000000000000077359fc5/30/d") format("woff"),url("af/0a31c2/000000000000000077359fc5/30/a") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"freightdispcmp-pro";
src:url("af/aac473/000000000000000077359fb4/30/l") format("woff2"),url("af/aac473/000000000000000077359fb4/30/d") format("woff"),url("af/aac473/000000000000000077359fb4/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freightdispcmp-pro";
src:url("af/ae91cb/000000000000000077359fb6/30/l") format("woff2"),url("af/ae91cb/000000000000000077359fb6/30/d") format("woff"),url("af/ae91cb/000000000000000077359fb6/30/a") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freightdispcmp-pro";
src:url("af/faf708/000000000000000077359fc4/30/l") format("woff2"),url("af/faf708/000000000000000077359fc4/30/d") format("woff"),url("af/faf708/000000000000000077359fc4/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"freightdispcmp-pro";
src:url("af/509e86/000000000000000077359fc6/30/l") format("woff2"),url("af/509e86/000000000000000077359fc6/30/d") format("woff"),url("af/509e86/000000000000000077359fc6/30/a") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"filmotype-yale";
src:url("af/3d6fab/00000000000000007735fedb/30/l") format("woff2"),url("af/3d6fab/00000000000000007735fedb/30/d") format("woff"),url("af/3d6fab/00000000000000007735fedb/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-freight-micro-pro { font-family: "freight-micro-pro",serif; }
.tk-freight-big-pro { font-family: "freight-big-pro",serif; }
.tk-freight-display-pro { font-family: "freight-display-pro",serif; }
.tk-freight-macro-pro { font-family: "freight-macro-pro",serif; }
.tk-rizado-script { font-family: "rizado-script",cursive; }
.tk-freightbigcmp-pro { font-family: "freightbigcmp-pro",serif; }
.tk-freightdispcmp-pro { font-family: "freightdispcmp-pro",serif; }
.tk-filmotype-yale { font-family: "filmotype-yale",sans-serif; }
